@model My_Practice_MVC_App.Models.Person;

<h2>Person Details</h2>
<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Age:</strong> @Model.Age</p>
<br/>
<a href="/Home/Create">Enter Another Person</a>
